@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Outfit:wght@300&display=swap");

body {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    146deg,
    rgb(203, 255, 246) 0%,
    rgba(255, 255, 255, 1) 40%,
    #dec3ff 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-around;
}
button {
  cursor: pointer;
}

.form_main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 25px 120px 0px #dec1ff;
  margin: 2% 0 0% 10%;
  width: 30%;
  padding: 1.5rem;
  display: flex;
  align-items: stretch;
  max-height: 610px;
}

.heading {
  font-size: 2rem;
  color: #2e2e2e;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.inputContainer {
  margin-bottom: 0.5rem;
}

.inputContainer::placeholder {
  color: #91939a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}

.inputIcon {
  position: absolute;
  left: 1;
  padding-top: 0.4rem;
  min-width: 50px;
  text-align: center;
  color: #9747ff;
}

.inputIcon2 {
  position: absolute;
  left: 90%;
  padding-top: 0.7rem;
  min-width: 50px;
  text-align: center;
  color: #9747ff;
}
.group {
  display: flex;
  line-height: 1rem;
  align-items: center;
  position: relative;
}
.inputField {
  display: flex;
  height: 2.5rem;
  width: 100%;
  text-indent: 2rem;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  padding: 0 1rem;
  outline: none;
  color: #0d0c22;
  transition: 0.3s ease;
  box-sizing: border-box;
  margin-top: 1%;
}

.inputField::placeholder {
  color: #999ba0;
  font-size: 1rem;
  font-weight: 300;
}

.labels {
  font-size: 1rem;
  font-weight: bold;
}
.checkbox {
  margin-top: 2%;
  width: 18px;
  height: 18px;
  border: 2px solid #91939a;
  border-radius: 13px;
}
.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connected {
  display: flex;
  align-items: center;
}
#login-button {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #9747ff;
  padding: 1.2rem;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 1rem;
}
#login-button:hover {
  opacity: 0.8;
}
.or {
  display: flex;
  justify-content: center;
}
.line {
  width: 100px;
  height: 40px;
  border-bottom: 1px solid #91939a;
  margin: -3% 3%;
}
.google {
  display: flex;
  width: 100%;
  position: relative;
}

.googleIcon {
  position: absolute;
  left: 20%;
  padding-top: 2%;
}

#google-button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: transparent;
  padding: 1.2rem;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  height: 1rem;
}
#google-button:hover {
  background-color: #d5baf9;
  color: #fff;
  opacity: 0.8;
}
.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: -5%;
}

.signupContainer p {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

.signupContainer a {
  font-size: 1em;
  font-weight: bold;
  color: #9747ff;
  text-decoration: none;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .form_main {
    width: 80%;
    margin: 3% auto;
  }
}

/* rectangles: */

.right-side {
  width: 20%;
  position: relative;
}
.rect1 {
  position: absolute;
  top: 42%;
  left: -35%;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #fbfaff;

  background: linear-gradient(180deg, #fefbff 0%, #f9ebff 51.04%, #faedff 100%);

  box-shadow: 0px 4px 14px 0px rgba(230, 195, 240, 0.25);
}
.rect2 {
  position: absolute;
  top: 48%;
  left: -21%;
  width: 330px;
  height: 250px;
  border-radius: 36px;
  border: 2px solid #fbfaff;
  background: linear-gradient(
    180deg,
    #fcf5ff7b 0%,
    #f9ebff86 6.77%,
    #faedff82 100%
  );
  box-shadow: 0px 7px 23px -7px #d39be3;
}
.rect3 {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 200px;
  height: 120px;
  border-radius: 1rem;
  border: 1px solid #fbfaff;

  background: linear-gradient(
    180deg,
    rgba(252, 245, 255, 0.6) 0%,
    rgba(249, 235, 255, 0.6) 6.77%,
    rgba(250, 237, 255, 0.6) 100%
  );

  box-shadow: 0px 4px 9px 0px rgba(201, 151, 216, 0.25);
  filter: blur(0.5px);
  backdrop-filter: blur(4.5px);
}
.rect4 {
  position: absolute;
  top: 95%;
  left: 35%;
  width: 60px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #fbfaff;

  background: linear-gradient(
    180deg,
    rgba(252, 245, 255, 0.7) 0%,
    rgba(249, 235, 255, 0.7) 6.77%,
    rgba(250, 237, 255, 0.7) 100%
  );

  box-shadow: 0px 4px 13px 0px rgba(211, 152, 242, 0.36);
  backdrop-filter: blur(7px);
}
.right-icon {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 192.324px;
  height: 247.887px;
}

.rect01 {
  position: absolute;
  top: 54%;
  left: 18%;
  width: 80px;
  height: 80px;
  border-radius: 39px;
  background: var(--liear, linear-gradient(180deg, #fff 0.2%, #fee5ff 122.2%));
  box-shadow: 0px 14px 15px 0px rgba(206, 170, 234, 0.44);
}
.rect02 {
  position: absolute;
  top: 56%;
  left: 23%;
  width: 50px;
  height: 50px;
  border-radius: 39px;
  border: 1px solid #fbfaff;
  background: var(--liear, linear-gradient(180deg, #fff 0.2%, #fee5ff 122.2%));
  box-shadow: 0px 14px 15px 0px rgba(206, 170, 234, 0.44);
}
.rect11 {
  position: absolute;
  top: 67%;
    left: 10%;
  width: 136px;
  height: 90px;
  border-radius: 39px;
  border: 1px solid #fbfaff;

  background: var(--liear, linear-gradient(180deg, #fff 0.2%, #fee5ff 122.2%));
  box-shadow: 0px 14px 15px 0px rgba(206, 170, 234, 0.44);
}
.rect12 {
  position: absolute;
  top: 69%;
  left: 15%;
  width: 110px;
  height: 64px;
  border-radius: 39px;
  background: var(--liear, linear-gradient(180deg, #fff 0.2%, #fee5ff 122.2%));
  box-shadow: 0px 14px 15px 0px rgba(206, 170, 234, 0.44);
}
